<!-- Contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <p>
          <a href="tel:+32494355838">+32 494 35 58 38</a>
        </p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p>
          <a href="mailto:ikkew100@hotmail.com">ikkew100@hotmail.com</a>
        </p>
      </div>
    </div>
  </div>
</section>