<!-- Carousel -->
<div class="bg-faded p-4 my-4">

  <!-- Image Carousel -->
  <div id="imageCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#imageCarousel" data-slide-to="1"></li>
      <li data-target="#imageCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <h4 class="text-shadow">Sommerhaus Hotel</h4>
          <p class="text-shadow">Ontbijttafel</p>
        <img class="d-block img-fluid w-100" src="assets/img/portfolio/LHB.png" alt="">
      </div>
      <div class="carousel-item">
          <h4 class="text-shadow">University of Applied Sciences</h4>
          <p class="text-shadow">Hoofdgebouw</p>
        <img class="d-block img-fluid w-100" src="assets/img/portfolio/LUAS.png" alt="">
      </div>
      <div class="carousel-item">
          <h4 class="text-shadow">Kunsthistorisch Museum Wenen</h4>
          <p class="text-shadow">Trappenhal</p>
        <img class="d-block img-fluid w-100" src="assets/img/portfolio/LKHMW.png" alt="">
      </div>
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>