<!-- Header with introduction -->
<section class="bg-primary" id="introduction">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="section-heading text-white">Over mij</h1>
        <hr class="light">
        <p class="text-faded">Hallo, ik ben Wouter. Ik studeer aan de Hogeschool PXL en zit in mijn laatste jaar Toegepaste Informatica. Als afstudeerrichting
          heb ik gekozen voor Application Development. Dit omdat ik het ontwerpen en bouwen van een volledige applicatie
          leuk vind en omdat ik hierbij het meest in aanraking kom met Design en Animatie. Ik kies er dan ook voor om
          front-end te ontwikkelen.</p>
        <p class="text-faded">Daarnaast spendeer ik mijn tijd aan online games en het bewerken van beeldmateriaal. In de toekomst hoop ik deze
          interesses te kunnen combineren om zo een job te vinden die ik graag uitvoer.</p>
        <a class="btn btn-default btn-xl js-scroll-trigger" href="#overview">Naar mijn prestaties!</a>
      </div>
    </div>
  </div>
</section>