<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="I-Talent portfolio">
  <meta name="author" content="Wouter Vanherck">

  <title>{{title}}</title>

  <!-- Custom fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>

</head>
<body id="page-top">

  <!-- Navigation -->
  <app-navbar></app-navbar>

  <!-- Header with picture -->
  <app-header></app-header>

  <!-- Header with introduction -->
  <app-introduction></app-introduction>

  <!-- Overview -->
  <app-overview></app-overview>

  <!-- Timeline -->
  <app-timeline></app-timeline>

  <!-- Portfolio Grid -->
  <app-grid></app-grid>

  <!-- Reflection -->
  <app-reflection></app-reflection>

  <!-- Contact -->
  <app-contact></app-contact>

  <!-- Footer -->
  <app-footer></app-footer>

  <!-- Portfolio Modals -->
  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details -->
                <h2>Studiereis Linz</h2>
                <p class="item-intro text-muted">Internationalisering</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/LINZ.png" alt="">
                <p>TODO</p>
                <ul class="list-inline">
                  <li>15 - 19 Maart 2017</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Sluit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details -->
                <h2>Project Name</h2>
                <p class="item-intro text-muted">Seminaries - Innovatie</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/ANG.png" alt="">
                <p>TODO</p>
                <ul class="list-inline">
                  <li>Angular2 Basics: 24 Februari - 3 Maart 2017</li>
                  <li>Angular2 @ PXL: 27 Juni 2017</li>
                  <li>I-Talent Portfolio: 2015 - 2018</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Sluit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details -->
                <h2>Vlaamse Programmeer wedstrijd</h2>
                <p class="item-intro text-muted">Innovatie</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/VPW.png" alt="">
                <p>TODO</p>
                <ul class="list-inline">
                  <li>VPW I: 16 Februari 2016</li>
                  <li>VPW II: 24 Februari 2016</li>
                  <li>VPW: 3 Maart 2016</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Sluit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details -->
                <h2>Projectweek</h2>
                <p class="item-intro text-muted">Innovatie</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/PW.png" alt="">
                <p>TODO</p>
                <ul class="list-inline">
                  <li>15 - 18 Februari 2016</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Sluit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>