<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="I-Talent portfolio">
  <meta name="author" content="Wouter Vanherck">

  <title>{{title}}</title>

</head>

<body id="page-top">

  <!-- Navigation -->
  <app-navbar></app-navbar>

  <!-- Header with picture -->
  <app-header></app-header>

  <!-- Header with introduction -->
  <app-introduction></app-introduction>

  <!-- Overview -->
  <app-overview></app-overview>

  <!-- Timeline -->
  <app-timeline></app-timeline>

  <!-- Portfolio Grid -->
  <app-grid></app-grid>

  <!-- Reflection -->
  <app-reflection></app-reflection>

  <!-- Contact -->
  <app-contact></app-contact>

  <!-- Footer -->
  <app-footer></app-footer>

  <!-- Portfolio Modals -->
  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details -->
                <h2>Studiereis Linz</h2>
                <p class="item-intro text-muted">Internationalisering</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/LINZ.png" alt="">
                <h3>Omschrijving</h3>
                <p>De hogeschool PXL gaf ons de kans om op studiereis te gaan in Linz en bood hierbij verschillende activiteiten
                  aan zoals het bezoeken van universiteiten, bedrijven en museums of andere interessante trekpleisters.</p>
                <h3>Kern</h3>
                <p>Woensdag 15 maart was het zover, na een busrit 10 uur kwamen we aan in het
                  <a href="http://www.sommerhaus-hotel.at/en/linz">Sommerhaus hotel te Linz</a>. Een gezellige plaats omringd met studenten gebouwen en bijbehorende eetmogelijkheden.
                  Omdat we pas om 8u ‘s avonds zijn aangekomen waren er die dag nog geen activiteiten gepland en hadden we
                  de tijd om uit te pakken en wat te verkennen.</p>
                <p>De volgende dag vertrokken we meteen naar de campus van de
                  <a href="https://www.fh-ooe.at/">University of Applied Sciences of Upper Austria</a>
                  (FH-OO: Fachhochschule Ober Österreich), waar we een presentatie omtrent internationale programma’s en een rondleiding kregen.
                  Namiddag was een bedrijfsbezoek aan
                  <a href="http://www.voestalpine.com/stahlwelt/en">Voest Alpine</a> gepland. Zij speelden een belangrijke rol in de tweede oorlog en produceren tot vandaag
                  nog steeds metaal. Hier kregen we eerst een uitgebreide rondleiding waar er tal van informatieve en interactieve
                  bezigheden waren, waarna we met de bus verder door de rest van de fabriek gingen. We sloten de avond af
                  met een typisch Oostenrijks avondmaal in het restaurant Alte Welt en wat vrije tijd in de stad.</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/portfolio-linz/L_G2.png" alt="">
                <p>Op de tweede volledige dag, die ik persoonlijk het interessantste vond, bestond onze voormiddag activiteit
                  met het bezoek aan het
                  <a href="https://www.aec.at/">Ars Electronica Center</a>. Deze plaats kun je vergelijken met een interactieve versie van een modern museum,
                  of zoals we in België kennen, de Technopolis. De onderwerpen hierbinnen zijn vooral gefocust op technologieën
                  in de medische- en agrarische sector of onderwerpen als robotics maar variëren ook van mode tot design
                  zoals 3D prints. Zolang er maar elektronica bij komt kijken kan je het hier vinden.’s Middags werden we
                  dan weer verwacht aan de universiteit waar een speciaal evenement aan de gang was. Het was namelijk zo
                  dat de lokale studenten hun projecten voorstelde. Deze waren heel variërend en vaak ook interactief of
                  zo aantrekkelijk mogelijk gemaakt. De tijd gespendeerd vloog hierdoor voorbij en de dag kwam op zijn einde.</p>
                <p>De laatste volledige dag was het bezoek aan Wenen, een grote stad vol met indrukwekkende oude gebouwen en
                  monumenten. Hier werd de bijna volledige voormiddag gevuld met stadsbezoek waar de leerkrachten als gids
                  handelden en werden we vanaf de middag de wereld ingestuurd. Na wat verkennen en het genieten van plaatselijke
                  keuken hadden we als kleiner groepje besloten om het
                  <a href="https://www.khm.at/en">kunsthistorisch museum</a> te bezoeken. Dit museum is één van de bekendere museums en neemt een immense
                  oppervlakte in beslag. Het is namelijk zo dat ik 3 uur besteed heb en ik niet verder ben geraakt dan de
                  eerste verdieping, dus als je alles gezien zou willen hebben moet je zeker op een dag tellen. Mijn favoriete
                  periode binnen de context van het museum was de Aziatische cultuur en de Ming-dynastie, maar er waren veel
                  meer artefacten uit de griekse of romeinse tijd met zijn opvolgende katholieke cultuur. Toen onze tijd
                  in het museum om was, kwamen we met ons groepje weer samen en zijn we gaan poolen tot we weer de bus naar
                  Linz namen, waar we de dag afgesloten hebben met een lekker avondmaal.</p>
                <p>Wat avondspelletjes en een laatste nachtrust brachten me tot de dag om weer te vertrekken. Klaar om de 10
                  uur busrit weer aan te gaan en thuis nog wat uit te rusten, iets wat ik zeker kon gebruiken na zo’n volgeplande
                  reis.
                </p>

                <!-- Carousel -->
                <app-carousel></app-carousel>

                <h3>Reflectie</h3>
                <p>De reis van begin tot einde was een hele ervaring. Wat een leuke uitstap was met vrienden en junior-collega's
                  was zeer rijk aan cultuur maar had tegelijk ook voldoende informatie in het kader van IT. Zo kregen we
                  de eerste dag een infomoment met het schoolbestuur van de plaatselijke universiteit en werd er uitgelegd
                  hoe er aan verder- of internationaal studeren werd gedaan. Dit liet ons, omdat we toch al in onze jaar
                  zitten, nadenken over wat we precies willen doen en hoe we verder gaan. Daarnaast vond ik dat het bezoek
                  aan Voest Alpine ons de andere kant van het verhaal en dat er een tweede beeld geschetst werd. Dat beeld
                  verduidelijkte dat een job in de IT niet altijd wil betekenen dat je elke dag 8 uur moet programmeren.
                  Het werd al snel duidelijk dat er voor ons nog veel opties beschikbaar zijn.</p>
                <p>Het bezoek aan het Ars Electronica Center vond ik ook een grote meerwaarde hebben. De projecten en producten
                  die daar tentoongesteld worden laten je verder denken over je mogelijkheden, in de vorm van projecten,
                  en andere creatieve ideeën die je zelf zou willen uitvoeren. De gelukkigen onder ons kwamen hier ook in
                  aanraking met onderwerpen waar ze nog niet bij stilgestaan hadden en mogelijke interesses die zij ook kunnen
                  doortrekken in een job. Onderwerpen als robotics en databeheer zijn hiervoor zeker geen uitzondering. Al
                  moet ik zeggen dat het ontwerpen van 3D-relatieve architectuur, om deze later uit te printen, mij het meeste
                  aantrok.
                </p>
                <p>Als slot wil ik de reis zelf als een geheel beoordelen, waar ik in het algemeen zeer tevreden over ben. De
                  ervaring en zelfstandigheid wat dit met zich meebracht verwelkom ik graag in mijn persoonlijke bundel wat
                  mij maakt tot wie ik ben.</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/portfolio-linz/L_G1.png" alt="">
                <ul class="list-inline">
                  <li>15 - 19 Maart 2017</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Sluit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details -->
                <h2>Angular</h2>
                <p class="item-intro text-muted">Seminaries - Innovatie - Student Engagement - Persoonlijke Ontwikkeling</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/ANG.png" alt="">
                <h3>Omschrijving</h3>
                <p>Angular is een framework dat gebruikt om webapplicaties en SPA’s te ontwikkelen voor allerlei platformen
                  van desktop tot mobile. Ik ben meerdere malen in aanraking gekomen met Angular en kies ervoor om deze te
                  bundelen tot één topic. De ervaringen houden seminaries, projecten en zelfs mijn stage in.</p>
                <h3>Kern</h3>
                <p>In het lessenpakket van Web Expert kwam ik voor het eerst in aanraking met Angular, of beter, AngularJS.
                  Hier werd al meteen getoond hoe soepel, snel en herbruikbaar het framework is. Met de overgang van AngularJS
                  naar Angular is echter niet alleen de taal verandert (van JavaScript naar TypeScript), maar ook het framework
                  zijn kern. Er wordt bijvoorbeeld niet meer met $scope gewerkt. De eerder vergaarde kennis moest dus hervormd
                  worden om mee te kunnen nemen naar toekomstige projecten, zoals mijn stage.</p>
                <p>Mijn stageopdracht bij
                  <a href="https://spikes.be/">Spikes</a> was een 360 view doorklikbare webapplicatie met als doel data uit verschillende systemen zoals
                  Outlook en Office 365 op te halen en deze gebundeld te tonen zodat projecten, collega’s, klanten, taken
                  en agenda’s duidelijk konden worden voorgesteld. Dit werd mede dankzij Angular gerealiseerd en moet ik
                  eigenlijk als mijn eerste echte aanraking tellen. In de krokusvakantie kreeg ik een week de tijd om mezelf
                  dit aan te leren zodat de stageopdracht vlot kon starten. Hiervoor heb ik de toen bestaande “
                  <a href="https://v2.angular.io/docs/ts/latest/tutorial/">Tour of Heroes</a>” tutorial gevolgd, wat alle basiselementen in het framework behandelden en dieper ging
                  op de geavanceerde zaken. Ik heb deze tutorial omgezet naar een project, wat ik later ingediend heb op
                  EPOS. Ik leerde hier met het framework omgaan en kreeg al snel de smaak te pakken. Zoals ik al zei toen
                  ik mezelf beschreef, ben ik hierdoor een Angular enthousiast geworden.</p>
                <p>Omdat ik best verder wil in het Angular framework was ik aanwezig op het Angular2 seminarie wat me enorm
                  hielp om de basis een keer op te frissen en technieken of specifieke onderdelen vanuit een andere hoek
                  te bekijken. Het seminarie begon eigenlijk al buiten het lokaal. Met een kennismaking, broodjes en de kans
                  om te netwerken ging het event van start. Hierna behandelden we de basis en gingen we in het tweede deel
                  dieper in op routing en andere nuttige zaken zoals observables en data calls.</p>
                <p>Maar hier stopt het niet. Het portfolio voor I-Talent, waar we ons momenteel bevinden is volledig geschreven
                  in het Angular framework. Natuurlijk heb ik geen gebruik gemaakt van data calls of databases maar alle
                  onderdelen zijn wel aanwezig en de secties zijn in componenten opgesplitst. Hierdoor is de structuur volledig
                  aanwezig. Het portfolio mag misschien een enkele webpagina lijken maar in realiteit bestaat dit uit verschillende
                  elementen die makkelijk verplaatst of hergebruikt kunnen worden.</p>
                <p>De achterliggende code voor de hoofdpagina ziet er daarom als volgt uit, wat een duidelijk voorbeeld zou
                  moeten schetsen van hoe de structuur eruit ziet en hoe je secties zou kunnen hergebruiken:</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/portfolio-angular/A_PORT.png" alt="">
                <p>Omdat ik gebruik gemaakt heb van Bootstrap templates die enkel HTML, CSS en JavaScript bevatten was één van
                  de moeilijkheden het omvormen van deze templates naar de Angular structuur. Zo maak ik bijvoorbeeld gebruik
                  van de Angular CLI wat scripts en stylesheets op voorhand inlaat, wat normaal niet het geval is. Ook host
                  ik het volledige portfolio op GitHub en bleek het hosten van een Angular project net iets anders te werken
                  dan een gewone HTML-pagina. Je kan dus wel zeggen dat ik ondertussen veel in aanraking gekomen ben met
                  het Angular framework.</p>
                <h3>Reflectie</h3>
                <p>Voor mijn reflectie wil ik graag elke Angular ervaring apart behandelen beginnend met het seminarie. Ik vond
                  dat dit een groot succes was. Dit omdat zowel de content als de contacten die er gelegd werden een meerwaarde
                  boden. Voor het topic waren er veel onderdelen die ik wel herkende maar er waren zeker ook nieuwe zaken
                  bij. Natuurlijk had ik deze onderdelen kunnen gebruiken voordat ik mijn stage startte, omdat dit mijn code
                  kwaliteitsvoller zou gemaakt kunnen hebben, maar de nieuwe bundel opgedane kennis kan ik alvast meenemen
                  voor de toekomst. De Angular-kennis, ook al is het maar de basis, is iets wat mooi op mijn cv zal staan
                  en is iets wat makkelijk verbeterd kan worden nu de start er van al is aangegeven.</p>
                <p>n verband met de zelfstudie van de cursus vlotte het wel maar kon ik van mezelf merken dat, hoe dieper ik
                  erin dook, hoe stroever het vooruit ging. Ik weet dat het constant bijleren één van de vereisten is binnen
                  onze sector en besef dat ik hier in de toekomst meer tijd zal moeten aan besteden. Ik mag daarom deze zelfstudie
                  niet onderschatten.</p>
                <p>Als laatste wil ik mijn portfolio aanhalen wat mij nog maar eens een ervaring rijker heeft gemaakt met het
                  framework en als een leuke versie uit de doeken is gekomen in vergelijking met wat anders een normale wordpress
                  zou geweest zijn. Dagelijks op mijn eigen tempo aan een eigen Angular project werken gaf mij de mogelijkheid
                  de structuur dieper te begrijpen zonder dat ik, dankzij tijdsdruk of andere variabelen, hierin fouten maakte.
                  Het resultaat, niet enkel wat er visueel te zien is, maar ook de ervaring en code, is iets waar ik trots
                  op kan zijn en ik kan hergebruiken in toekomstige projecten.</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/portfolio-angular/A_SEM.png" alt="">
                <ul class="list-inline">
                  <li>Angular2 Basics: 24 Februari - 3 Maart 2017</li>
                  <li>Angular2 @ PXL: 27 Juni 2017</li>
                  <li>I-Talent Portfolio: 2015 - 2018</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Sluit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details -->
                <h2>Vlaamse Programmeer Wedstrijd</h2>
                <p class="item-intro text-muted">Student Engagement</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/VPW.png" alt="">
                <h3>Omschrijving</h3>
                <p>De
                  <a href="https://www.vlaamseprogrammeerwedstrijd.be/current/#home">Vlaamse programmeerwedstrijd</a> is een jaarlijkse traditie waarin groepen van 3 personen uitgedaagd worden
                  om 5 programmeeropdrachten in een zo kort mogelijke tijd uit te voeren. Er zijn verschillende categorieën
                  die de moeilijkheidsgraad voorstellen en als extra uitdaging wordt er per groep op 1 laptop geprogrammeerd.</p>
                <h3>Kern</h3>
                <p>Voordat je aan de Vlaamse programmeerwedstrijd deelneemt moet je hierop goed voorbereid zijn. De opdrachten
                  zijn enorm uitdagend en het is aangeraden om voorbeeldoefeningen voor te bereiden zodat problemen zo snel
                  mogelijk zijn op te lossen. Het is ook belangrijk om jezelf in een bepaalde mindset te plaatsen en bepaalde
                  logica en technieken te begrijpt voordat je hieraan deelneemt.</p>
                <p>Om deze redenen waren er dankzij de Hogeschool PXL twee seminaries gepland. Hierin werden begrippen aangehaald
                  om opdrachten zoals een sudoku of leidingaanleg-spelen programmatisch op te lossen. Deze algoritmes zijn
                  vrij complex en werden oppervlakkig behandeld. Zo heb je bijvoorbeeld het A*-algoritme waar het de bedoeling
                  is om het snelste pad te vinden. Zonder dit of een gelijkaardig concept te snappen is het niet mogelijk
                  om het leidingaanleg-spel op te lossen.</p>
                <p>Naast programmeertechnieken werd er ook uitgelegd hoe de wedstrijd zelf zou verlopen. Zo is het de bedoeling
                  dat je als groep van drie deelneemt en telt hiervan de hoogste achtergrond als het ervaringspunt.het is
                  namelijk zo dat de wedstrijd in vier verschillende categorieën is ingedeeld. Omdat de leden in mijn groep
                  allen studeren aan de Hogeschool PXL kwamen wij in Categorie 2: professionele bachelorstudenten terecht.</p>
                <p>TODO</p>
                <h3>Reflectie</h3>
                <p>TODO</p>
                <ul class="list-inline">
                  <li>VPW I: 16 Februari 2016</li>
                  <li>VPW II: 24 Februari 2016</li>
                  <li>VPW: 3 Maart 2016</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Sluit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details -->
                <h2>Projectweek</h2>
                <p class="item-intro text-muted">Student Engagement</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/PW.png" alt="">
                <h3>Omschrijving</h3>
                <p>TODO</p>
                <h3>Kern</h3>
                <p>TODO</p>
                <h3>Reflectie</h3>
                <p>TODO</p>
                <ul class="list-inline">
                  <li>15 - 18 Februari 2016</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Sluit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>