<!-- Timeline -->
<section id="timeline">
  <div class="container">
    <!-- Internationalization -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Tijdlijn</h1>
        <br>
        <h2 class="section-subheading text-muted">Internationalisering</h2>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/L200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>15 - 19 Maart 2017</h4>
                <h4 class="subheading">Studiereis Linz</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">De studiereis naar Linz
                  <br>
                  <b>Aantal uren: 30</b>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Seminars -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <h2 class="section-subheading text-muted">Seminaries</h2>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/VPWA200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>16 Februari 2016</h4>
                <h4 class="subheading">Vlaamse Programmeer wedstrijd I</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Seminarie over de introductie, systemen en patronen in verband met de Vlaamse Programmeer wedstrijd
                  <br>
                  <b>Aantal uren: 2</b>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/VPWB200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>24 Februari 2016</h4>
                <h4 class="subheading">Vlaamse Programmeer wedstrijd II</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Seminarie over de systemen, patronen en tips in verband met de Vlaamse Programmeer wedstrijd
                  <br>
                  <b>Aantal uren: 3</b>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/DP200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2 Maart 2016</h4>
                <h4 class="subheading">Droneport: Manager @ Breakfast</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Ontbijtseminarie over de mogelijkheden rondom drones
                  <br>
                  <b>Aantal uren: 2</b>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/BD200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>18 Mei 2016</h4>
                <h4 class="subheading">Big Data - IT @ Breakfast</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Ontbijtseminarie dat Big Data behandeld
                  <br>
                  <b>Aantal uren: 2</b>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/RD200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>28 September 2016</h4>
                <h4 class="subheading">RealDolmen: Virtual Reality</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Virtual reality seminarie. Hierbij werd een coding demo gegeven in Unity en een live demo met de Oculus Rift
                  <br>
                  <b>Aantal uren: 2</b>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/RP200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>12 Januari 2017</h4>
                <h4 class="subheading">Reactive Programming</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Seminarie waarin reactive programming werd behandeld en er dieper ingegaan werd op RxMarbles
                  <br>
                  <b>Aantal uren: 3</b>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/ANG200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>27 Juni 2017</h4>
                <h4 class="subheading">Angular2 @ PXL</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Angular seminarie waarin er kennis gemaakt werd met Angular en er dieper werd ingedoken op Routing en Observables
                  <br>
                  <b>Aantal uren: 3</b>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/PEC200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>6 Juni 2017</h4>
                <h4 class="subheading">Young Professional Day @ PEC (Leuven)</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Presentatie van het bedrijf met rondleiding
                  <br>
                  <b>Aantal uren: 3</b>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/IC200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>27 September 2017</h4>
                <h4 class="subheading">ICapps: Chatbots & Blockchains</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Seminarie over meertalige chatbots en blockchains
                  <br>
                  <b>Aantal uren: 2</b>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/AF200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>4 Oktober 2017</h4>
                <h4 class="subheading">AppFoundry: Android in practice</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Seminarie dat Android Tools en Libraries behandeld
                  <br>
                  <b>Aantal uren: 3</b>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/YG200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>25 Oktober 2017</h4>
                <h4 class="subheading">YellowGround: Product Data for Marketplaces</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Seminarie over data management, worfklows, ... voor marketplaces
                  <br>
                  <b>Aantal uren: 2</b>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/RD200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>8 November 2017</h4>
                <h4 class="subheading">RealDolmen: How to break (web) software</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Seminarie over de OWASP Top 10 zoals Injection, XSS, ...
                  <br>
                  <b>Aantal uren: 3</b>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/3IT200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>29 November 2017</h4>
                <h4 class="subheading">3-IT: Social Engineering</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Seminarie dat de gevaren van Social Engineering toelicht. Hierin is de menselijke factor erg belangrijk voor
                  de security.
                  <br>
                  <b>Aantal uren: 1</b>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/CG200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>6 December 2017</h4>
                <h4 class="subheading">Vectr.consulting: Big Data & Artificial Intelligence</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Dieper ingaan op een typische Big Data technologie en specifieke onderwerpen zoals Artificial Intelligence
                  bekijken.
                  <br>
                  <b>Aantal uren: 3</b>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/D200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>13 December 2017</h4>
                <h4 class="subheading">Delaware: UX & User eXperience design</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Seminarie over het ontwerpen van digitale producten.
                  <br>
                  <b>Aantal uren: 3</b>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/PXL200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>18 December 2017</h4>
                <h4 class="subheading">PXL Smart ICT</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Introductie tot PXL Robotics Lab, AI, Machine Learning en Deeplearning (Convolutional Neural Nets, Recurrent
                  Neural Nets)
                  <br>
                  <b>Aantal uren: 2</b>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/CG200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>20 December 2017</h4>
                <h4 class="subheading">Contribute: Chatbots</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Het bouwen van; en de voordelen die een chatbot brengt.
                  <br>
                  <b>Aantal uren: 3</b>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Innovation / Student Engagement -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <h2 class="section-subheading text-muted">Innovatie / Student Engagement</h2>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/CD1200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>14 November 2015</h4>
                <h4 class="subheading">CoderDojo @ PXL</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Jongeren leren omgaan met HTML5, CSS, Scratch, ...
                  <br>
                  <b>Aantal uren: 4</b>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/CD2200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>12 December 2015</h4>
                <h4 class="subheading">CoderDojo @ UHasselt</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Jongeren leren omgaan met HTML5, CSS, Scratch, ...
                  <br>
                  <b>Aantal uren: 4</b>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/PW200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>15 - 18 Februari 2016</h4>
                <h4 class="subheading">Projectweek 2TIN</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">De projectweek van '15-'16 voor 2TIN
                  <br>
                  <b>Aantal uren: 28</b>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/PB200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>25 Februari 2016</h4>
                <h4 class="subheading">Projectenbeurs</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Event rondom de laatstejaarsprojecten
                  <br>
                  <b>Aantal uren: 2</b>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/VPW200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>3 Maart 2016</h4>
                <h4 class="subheading">Vlaamse Programmeer wedstrijd</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Deelname aan de Vlaamse Programmeer wedstrijd
                  <br>
                  <b>Aantal uren: 6</b>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/SQL200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>9 Maart 2016</h4>
                <h4 class="subheading">Tutoring: SQL Essentials</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">In het kader van levenslang leren heb ik de kans gekregen anderen te helpen met moeilijke vakken. Ik verleende
                  hiervoor hulp voor het vak SQL Essentials aan Sammy Moors
                  <br>
                  <b>Aantal uren: 8</b>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/A200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>24 Februari - 3 Maart 2017</h4>
                <h4 class="subheading">Angular2 Basics</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Tijdens de krokusvakantie heb ik mijzelf Angular2 aangeleerd. Dit heb ik gedaan aan de hand van een
                  <a href="https://angular.io/tutorial">quick-start tutorial</a>
                  en een
                  <a href="https://www.pluralsight.com/courses/angular-2-getting-started-update">course op Pluralsight</a>
                  <br>
                  <b>Aantal uren: 18</b>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Personal Development -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <h2 class="section-subheading text-muted">Persoonlijke ontwikkeling</h2>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/img/timeline/logo/PXL200x200.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2015 - 2018</h4>
                <h4 class="subheading">I-Talent Portfolio</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">In het kader van I-Talent heb ik ervoor gekozen om mijn portfolio als website voor te stellen. Ik maak hiervoor
                  gebruik van Angular en ik host op GitHub. Het resultaat van deze inspanning is deze webpagina
                  <br>
                  <b>Aantal uren: 20</b>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>