<!-- Reflection -->
<section class="bg-primary" id="reflection">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Eindreflectie</h2>
        <hr class="light">
        <p class="text-faded">In het begin zag ik op tegen het halen van 160 professionele uren. Waarom moeten dat er zo veel zijn? Maar nu ik
          ze gehaald heb en terugblik op mijn prestaties, besef ik dat het aantal uren er eigenlijk voor zorgen dat je je
          echt in nieuwe zaken moet vastbijten. Nieuwe technologieën, programmeertechnieken en producten kwamen hierdoor
          in beeld. Onderwerpen die niet in school behandeld kunnen worden of recent in de media zijn aangehaald, kregen
          hier de kans om interesses aan te wakkeren. Hierdoor is bijvoorbeeld mijn interesse in Angular keer op keer versterkt
          en heb ik dankzij de I-Talent opdracht, een Angular website gemaakt. Een eigen project uitvoeren om technologieën
          in de vingers te krijgen is iets wat ik belangrijk vind en waar ik vaak geen tijd voor kan maken.</p>
        <p class="text-faded">Daarnaast waren er een heel aantal seminaries die hielpen om de scope in de IT-sector voor mij te verbreden. De keuze
          om ook niet-programmatische onderwerpen te volgen heeft geleid tot een blik op het hele plaatje en een overkoepelend
          resultaat. Hiermee wil ik zeggen dat ik ook leerstof van andere richtingen heb kunnen meenemen die zullen leiden
          tot een beter overzicht. Van Big Data en Artificial Intelligence tot User eXperience en Blockchains. Er is altijd
          wel iets waardoor ik weer een stap voor ben op mijn oude ik.</p>
        <p class="text-faded">Ook zaken zoals de internationale uitstap of activiteiten zoals CoderDojo hervormde mij als persoon. Zelf verantwoordelijkheden
          opnemen, plannen en vooral flexibel zijn, zijn zaken die hierdoor verbeterden. Door deze ervaringen te beleven
          zijn niet enkel mijn sterke punten naar voren gekomen maar zijn mijn tekortkomingen ook duidelijker geworden. Zo
          moet ik assertiever zijn en me meer vastbijten in de zaken die minder vlot vooruit gaan. Ik merkte van mezelf dat
          ik, hoewel ik vaak stil ben en anderen aan het woord laat, op sociaal vlak sterker sta dan ik dacht. Maar aan de
          andere kant merkte ik dat mijn programmeer kwaliteiten op verschillende vlakken verbeterd kunnen worden.</p>
        <p class="text-faded">Het viel me op, dat in vergelijking met anderen, het leren van iets nieuws erg uitdagend kan zijn voor me, waardoor
          ik soms te veel tijd verlies. Gelukkig zijn er dan weer andere zaken die dat neutraliseren. Stiptheid, ordelijkheid,
          creativiteit en doorzettingsvermogen zijn eigenschappen die bij mij zeker gelden.</p>
        <p class="text-faded">De variatie in de activiteiten die ik heb bijgewoond vond ik erg aangenaam en hoewel het ene onderwerp altijd interessanter
          is dan het andere, vind ik dat dit toekomst biedt. Dit zowel in de vorm van persoonlijke ontwikkeling als bij het
          vinden van een job. I-Talent is iets wat lang duurt en veel moeite kan kosten, maar waar je zeker evenveel voordelen
          uithaalt. Dit geldt niet alleen voor het ervaren van nieuwe zaken of interesses maar ook voor het opfrissen van
          oudere technologieën wel of niet met een twist.</p>
        <p class="text-faded">Tot slot ben ik van mening dat I-Talent niet enkel een bonus is bovenop de 3 jaar ervaring binnen de PXL, maar vind
          ik dat dit een echte noodzaak is. Anders zou ik, buiten mijn stage, niet in aanraking gekomen zijn met allerlei
          nieuwigheden, waar ik binnen de opleiding niet mee in aanraking gekomen zou zijn en zou ik minder gegroeid zijn
          als persoon.</p>
      </div>
    </div>
  </div>
</section>

<img class="widepicture" src="assets/img/END.png" alt="">